.connected-accounts-permissions {
  display: flex;
  flex-direction: column;
  width: 100%;

  strong {
    font-weight: bold;
  }

  p + p {
    padding-top: 8px;
  }
}

.connected-accounts-permissions__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: $white;

  p {
    font-size: $size-12;
    color: $white;
    font-weight: bold;
  }

  button {
    background: none;
    padding: 0;
    margin-left: 8px;
  }
}

.connected-accounts-permissions__list {
  padding-top: 8px;
}

.connected-accounts-permissions__list-item {
  display: flex;
}

.connected-accounts-permissions .connected-accounts-permissions__checkbox {
  margin: 0 8px 0 0;
}

.connected-accounts-permissions__list-container {
  overflow: hidden;
  height: auto;
  max-height: 100px;

  .description {
    font-size: 10px;
    color: $white;
    margin: 6px 0;
  }

  .description-label {
    font-size: 10px;
    color: $gray;
  }
}