.import-with-seed-phrase {
  .import-with-seed-phrase__form {
    width: 90vw;
    margin: 0 auto;
    padding: 20px 0 0 0;

    .create-password-logo {
      margin: 0 auto 40px;
    }
  
    .first-time-flow__header {
      font-weight: bold;
      font-size: 20px;
      color: $white;
      line-height: 23px;
      text-align: center;
      margin: 0 auto;
    }
  
    .first-time-flow__text-block {
      font-size: $size-10;
      line-height: 16px;
      text-align: center;
      color: $white;
      margin: 6px 0 0;
    }

    .first-time-flow__textarea-wrapper {
      
    }
  }

  .import-seed__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
