.editable-label {
  position: relative;
  @include flex;

  .editable-label__value {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $white;
    font-weight: bold;
  }

  .editable-label__input {
    width: 160px;
    text-align: center;
    border: 1px solid $primary-border;
    padding: 10px;
    background: transparent;
    color: $white;
    border-radius: $size-12;
    font-weight: bold;
    outline: none;
  }

  .editable-label__input--error {
    border: 1px solid $warning;
  }

  .editable-label__icon-button {
    position: absolute;
    margin-left: 10px;
    left: 100%;
    background: unset;

    &.pen {
      width: 12px;
      height: 12px;
      background: url('/images/icons/pink-pen.png') no-repeat center;
      background-size: 100%;
    }

    &.right {
      width: 12px;
      height: 8px;
      background: url('/images/icons/pink-right.png') no-repeat center;
      background-size: 100%;
    }
  }

  .editable-label__icon {
    cursor: pointer;
  }
}
