.dex-popover-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90vw;
  max-height: 94vh;
  @include modal;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $size-12;
    background: $gray;
  }
}

.dex-popover-header {
  display: flex;
  padding: 20px 24px 14px;
  flex-direction: column;
  position: relative;
  border-radius: $size-12;
}

.dex-popover-header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 8px;

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $white;
    font-size: 16px;

    button {
      color: $white;
      margin-right: 20px;
    }
  }

  &.center {
    justify-content: center;
  }
}

.dex-popover-header__subtitle {
  color: $white;
  font-size: $size-12;
}

.dex-popover-header__button {
  background: none;
  font-size: inherit;
  padding: 0;
}

.dex-popover-header i {
  cursor: pointer;
}

.dex-popover-bg {
  @include modal-background;
}

.dex-popover-content {
  overflow-y: auto;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
}

.dex-popover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.dex-popover-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid $primary-background;
  padding: 16px 0;

  > :only-child {
    margin: 0 auto;
  }
}

.dex-popover-arrow {
  width: 22px;
  height: 22px;
  background: white;
  position: absolute;
  transform: rotate(45deg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}
