@import 'networks-tab';

.setting-content-wrap {
  > div {
    @include flex(space-between, flex-start);
    width: 100%;
    padding: 20px 22px 20px 25px;
    color: #fff;
    background: $primary-background;
    border-radius: 12px;
    transition: 0.3s all ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background: $primary-gradient-hover;
    }
    &:last-child {
      margin-bottom: 0;
    }
    > div {
      &:first-child {
        @include flex(flex-start, flex-start);
        width: 22px;
      }
      &:nth-child(2) {
        flex: 1;
        margin: 0 15px;
        > div {
          width: 100%;
          &:first-child {
            @include text-ellipsis;
            font-size: 14px;
            line-height: 18px;
            font-weight: bold;
            margin-bottom: 8px;
          }
          &:last-child {
            @include text-ellipsis-2;
            font-size: 12px;
            line-height: 16px;
            color: #c6c6c6;
          }
        }
      }
    }
    .setting-arrow-right {
      transform: rotate(-90deg);
    }
  }
}

.settings-tab__error {
  font-size: 12px;
  color: $warning;
  margin-bottom: 10px;
}

.setting-item {
  margin-bottom: 25px;
  .setting-label {
    @include flex(flex-start, flex-start);
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 12px;
    word-break: break-word;
  }
  .setting-value {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
    & + button,
    & + div {
      margin-top: 12px;
    }
  }
  .setting-input-btn-wrap {
    @include flex(space-between);
    > div {
      flex: 1;
    }
    button {
      @include w-h(64px, 26px);
      font-size: 12px;
      margin-left: 15px;
    }
  }
}
