.permissions-connect-header {
  display: flex;
  flex: 0;
  flex-direction: column;
  justify-content: center;

  .permissions-connect-header__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .icon-with-fallback__identicon-container, .icon-with-fallback__identicon-border {
      height: 64px;
      width: 64px;
    }
  
    .icon-with-fallback__identicon-container {
      margin-bottom: 8px;
    }
  }
  
  .permissions-connect-header__title {
    text-align: center;
    color: $white;
    margin-top: 16px;
  }

  .permissions-connect-header__text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: $white;
    font-weight: bold;
    margin: 25px 0;
    text-align: center;
  }
  
  .permissions-connect-header__subtitle {
    color: $gray;
    font-size: $size-12;
  }
}