.confirm-add-token {
  .page-container__subtitle {
    font-size: $size-14;
    color: $gray;
    padding: 0;
    margin: 0 0 20px;
  }

  .confirm-add-token__token-list-item {
    margin: 0 0 20px;
    &:last-of-type {
      margin: 0;
    }
  }

  .confirm-add-token__token {
    .token-image-origin {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      flex: 0 0 auto;
      background-color: $white;
    }

    .confirm-add-token__name {
      color: $white;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
