.error-message {
  width: 90vw;
  font-size: 12px;
  font-weight: normal;
  margin: auto;
  min-height: 32px;
  color: $warning;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}
