.new-account {
  .new-account-import-form__select-section {
    margin: 0 0 24px;
    .new-account-import-form__select-label {
      font-size: $size-12;
      color: $white;
      font-weight: bold;
    }

    .selector-component {
      width: 195px;
    }
  }

  .new-account-import-bottom {
    flex: 1;

    .new-account-import-form__private-key,
    .new-account-import-form__json {
      flex-direction: column;
      height: 100%;
    }

    .file-selector {
      width: 139px;
      height: $size-48;
      border-radius: $size-12;
      background: $primary-background;
      position: relative;
      margin: 10px 0;
      font-size: $size-14;
      font-weight: bold;
      color: $white;
      @include flex;

      input[type='file'] {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 0;
        @include w-h;
      }
    }

    .used-by-clients {
      font-size: $size-12;
      font-weight: bold;
      color: $white;
    }
  }
}
