.new-account {
  .new-account-import-form__select-section {
    margin: 0 0 24px;
    .new-account-import-form__select-label {
      font-size: $size-12;
      color: $white;
      font-weight: bold;
    }

    .selector-component {
      width: 195px;
    }
  }
}
