.cross-chain-dest {
  &__wrapper {

    margin: 10px auto;
    position: relative;

    .cross-chain-dest-type-selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: -20px 0 0 0;

      .toggle {
        font-size: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
          width: 13px;
          margin: 0 5px 0 0;
        }
      }

      .cross-chain__chain-switcher {
        background: linear-gradient(58deg, #7813c4 0%, #691bb5 17%, #3b11b8 79%, #2206a0 100%);
      }
    }

    .send__to-row {
      padding: 0;
    }
  }

  &__component {

    margin: 10px auto;
    background: linear-gradient(58deg, #7813C4 0%, #691BB5 17%, #3B11B8 79%, #2206A0 100%);
    border-radius: 14px;
    padding: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .amount {
      margin: 15px 0 0;
      font-size: 14px;
      font-weight: 400;
      color: #D2D2D2;
      line-height: 24px;
    }
  }
}