.connected-sites-list__content-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;

  .connected-sites-list__content-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $primary-background;
    padding: 16px 10px;
  }
  .connected-sites-list__domain-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
  }
  .connected-sites-list__domain-name {
    max-width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: $size-12;
    font-size: $size-12;
    color: $white;
  }
  .connected-sites-list__trash {
    cursor: pointer;
    font-size: 14px;
  }
}
