.error-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  padding: 30px 0;

  .error-page__header {
    display: flex;
    justify-content: center;
    padding: 30px 0 10px;
    text-align: center;
    color: $white;
    font-size: 18px;
    font-weight: bold;
  }
  .error-page__subheader {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 12px;
  }
  .error-page__details {
    overflow-y: auto;
    width: 100%;
    padding-top: 10px;
    color: $white;
    font-size: 12px;
  }
  .error-page__stack {
    overflow-x: auto;
    color: $white;
    font-size: 12px;
  }
}