.selected-token {
  height: 132px;
  background: $primary-background;
  margin: 10px auto 18px;
  padding: 0 18px;
  border-radius: $size-12;

  .account-address {
    height: 50px;
    border-bottom: 1px solid $primary-border;

    .account {
      font-size: $size-14;
      color: $white;

      .drop-trigger {
        width: 18px;
        height: 18px;
        background: url('/images/icons/arrow-down-black.png') no-repeat center;
        background-size: 100%;
        margin: 0 0 0 8px;
        cursor: pointer;
      }
    }

    .address {
      font-size: $size-12;
      color: $gray;
      cursor: pointer;

      .copy-icon {
        width: $size-12;
        height: $size-12;
        background: url('/images/icons/copy.png') no-repeat center;
        background-size: 100%;
        margin: 0 0 0 6px;
      }
    }
  }

  .native-currency {
    padding: 16px 5px 0;

    .native-currency-balance {
      .token-balance {
        font-size: 26px;
        font-weight: bold;
        color: $white;
      }

      .token-usd {
        font-size: $size-12;
        color: $gray;
        margin: 6px 0 0;
      }
    }
  }
}
