.select-action {
  padding: 50px 0 0;
  width: 100%;
  height: 100vh;

  .logo-component {
    margin: 0 auto;
  }

  .select-action__body {
    .select-action__header {
      font-size: 28px;
      line-height: 50px;
      color: $white;
      margin: 55px 0 0;
      text-align: center;
      font-weight: 500;
    }

    .select-action__description {
      padding: 0 40px;

      div {
        font-size: $size-12;
        font-weight: 400;
        color: $white;
        line-height: 18px;
        text-align: center;
      }
    }

    .select-action__select-buttons {
      margin: 60px auto 0;
  
      .import-wallet-button {
        margin: 10px 0 0;
      }
    }
  }
}
