@import 'content/index';
@import 'header/index';
@import 'detail-row/index';
@import 'navigation/index';
@import 'header-content/index';

.page-container {
  &__content-component-wrapper {
    height: 100%;
  }
}

.confirm-transaction-total-amount-wrap .currency-display-component {
  max-width: calc(90vw - 44px);
}

.confirm-transaction-total-detail-text {
  .currency-display-component {
    max-width: 100%;
  }
}

.transaction-detail-item {
  .currency-display-component__text,
  .currency-display-component__suffix {
    font-size: 12px;
    color: $gray;
  }
  .currency-display-component {
    @include text-ellipsis;
    display: flex !important;
    justify-content: flex-end;
    text-align: right;
    .currency-display-component__text {
      @include text-ellipsis;
      display: block;
      flex: 1;
    }
  }
  .transaction-detail-item__row {
    &:first-child {
      .currency-display-component__text,
      .currency-display-component__suffix {
        color: #fff;
      }
    }
  }
}
