.list-item {
  width: 100%;
  min-height: 86px;
  margin: 0;
  background: #fff;
  padding: 24px 16px;

  @include Paragraph;

  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  color: $Black-100;
  align-items: start;
  cursor: pointer;

  &:hover,
  &:focus-within {
    background-color: $Grey-000;
  }

  &__icon {
    grid-area: icon;
    align-self: center;

    > * {
      margin: 0 6px 0 0;
    }
  }

  &__actions {
    grid-area: actions;
  }

  &__heading {
    @include H5;

    grid-area: head;
    position: relative;
    display: flex;
    align-items: center;

    & button {
      background: unset;
      font-size: unset;
      padding-inline-start: 0;
    }

    &-wrap {
      display: inline-block;
      margin-left: 8px;
    }
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subheading {
    @include H7;

    grid-area: sub;
    color: $Grey-500;
    margin-top: 4px;
    // all direct descendants should be truncated with ellipses
    // allows flexibility in consuming components to use h3/other tag
    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:empty {
      display: none;
    }
  }

  &__mid-content {
    @include H7;

    grid-area: mid;
    color: $Grey-500;
  }

  &__right-content {
    display: none;
  }
}

.list-item--single-content-row {
  align-items: center;
}

.transition-list {
  &__row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 16px;
    height: auto;

    .left-status {
      &__icon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .list-item__title {
          font-size: 12px;
          font-weight: 400;
          color: rgba(148, 148, 148, 0.48);
          width: 100px;
        }

        .list-item__subheading {
          font-size: 16px;
          font-weight: 400;
          color: #fff;
        }
      }
    }

    .list-item {
      &__right-content {
        display: block;

        .transaction-list-item__primary-currency {
          font-size: 14px;
          color: #FFFFFF;
          line-height: 25px;
        }
        
        .transaction-list-item__secondary-currency {
          font-size: 12px;
          color: rgba(148, 148, 148, 0.48);
          line-height: 17px;
        }
      }
    }

    .transaction-status {
      font-size: 14px;
    }

    .transaction-status::after {
      display: none;
    }
  }
}
