@use "design-system";

.chip {
  $self: &;

  border-radius: 100px;
  border: 1px solid $primary-border;
  padding: 8px 16px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  width: max-content;

  &__left-icon,
  &__right-icon {
    display: flex;
    align-items: center;
  }

  @each $variant, $color in design-system.$color-map {
    &--#{$variant} {
      border-color: $color;
    }
  }

  &--with-left-icon,
  &--with-right-icon {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &--with-left-icon {
    padding-left: 4px;

    #{$self}__label {
      margin-left: 8px;
    }
  }

  &--with-input &__input {
    direction: ltr;
    border: none;
    background: transparent;
    text-align: center;
    width: 100%;
    font-size: design-system.$font-size-h5;

    &:focus {
      text-align: left;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &--with-right-icon {
    padding-right: 4px;
    #{$self}__label {
      margin-right: 8px;
    }
  }

  .color-indicator {
    width: 10px !important;
    height: 10px !important;
    background: transparent !important;
    border: none;

    .color-indicator__inner-circle {
      display: block;
      width: 10px;
      height: 10px;
      background: url('/images/default-chains/rpc.png') no-repeat center;
      background-size: 100%;
    }

    &--color-mainnet {
      .color-indicator__inner-circle {
        background: url('/images/default-chains/eth.png') no-repeat center;
        background-size: 100%;
      }
    }

    &--color-bscmainnet {
      .color-indicator__inner-circle {
        background: url('/images/default-chains/bsc.png') no-repeat center;
        background-size: 100%;
      }
    }

    &--color-dexmainnet {
      .color-indicator__inner-circle {
        background: url('/images/default-chains/dex.png') no-repeat center;
        background-size: 100%;
      }
    }
  }
}
