.check-box {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  font-size: 21px;
  line-height: 0.9;
  border-radius: 2px;
  display: flex;

  &:before {
    content: '' !important;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $primary-background;
  }
}

.check-box__checked:before, .check-box__indeterminate:before {
  content: '' !important;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('/images/icons/checked.png');
  background-size: 10px 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.check-box:disabled {
  cursor: not-allowed;
}