.tippy-popper {
  .tippy-tooltip {
    background: $page-background;
    color: $white;
    border-radius: $size-14;
    padding: 8px 16px!important;
    .arrow-regular {
      border-top-color: $page-background;
    }
  }
}