$primary-gradient: linear-gradient(82.09deg, #7813C4 5.18%, #2206A0 101.7%);
$primary-background: rgba(229, 229, 229, 0.1);
$primary-border: rgba(229, 229, 229, 0.5);
$box-shadow: rgba(120, 19, 196, 0.7);
$page-background: #050317;
$popup-background: #1b1a2c;
$warning: #FB5D5D;
$pink: #7813C4;
$white: #fff;
$gray: #C6C6C6;
$green: #11CABE;

$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-36: 36px;
$size-48: 48px;
