.wallet-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  width: 100%;

  .wallet-overview-buttons {
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    .overview-btn {
      margin: 0 30px 0 0;

      &:last-of-type {
        margin: 0;
      }

      .overview-btn-icon {
        width: 40px;
        height: 40px;

        &.send-icon {
          background: url('/images/button/send.png') no-repeat center;
          background-size: 100%;
        }

        &.recive-icon {
          background: url('/images/button/recive.png') no-repeat center;
          background-size: 100%;
        }

        &.swap-icon {
          background: url('/images/button/swap.png') no-repeat center;
          background-size: 100%;
        }

        &.cross-chain-icon {
          background: url('/images/button/bridge.png') no-repeat center;
          background-size: 100%;
        }
      }

      .overview-btn-label {
        font-size: $size-12;
        color: $white;
        font-weight: 400;
        padding: 10px 0 0;
        text-align: center;
      }
    }
  }
}
