.steps-component__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .steps-component__item {
    display: flex;
    align-items: center;
    min-width: 60px;
    max-width: 108px;
  
    .step-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      font-size: 18px;
      color: $gray;
      background: $primary-background;
      border-radius: 50%;
  
      &.active {
        background: linear-gradient(82.09deg, #7813C4 5.18%, #2206A0 101.7%);
        color: $white;
      }
    }
  
    .line {
      width: 22px;
      height: 2px;
      margin: 0 6px;
      background: url('/images/line/normal.png') no-repeat center;
      background-size: 100%;

      &.active {
        background: url('/images/line/active.png') no-repeat center;
        background-size: 100%;
      }
    }
  }
}