.connected-accounts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connected-accounts-list__identicon {
  margin-right: 8px;
}

.connected-accounts-list__account-name {
  color: $white;
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

.connected-accounts-list__account-status {
  display: inline;
  font-size: $size-12;
  color: $gray;
  font-weight: normal;
}

.connected-accounts-list__account-status-link {
  display: block;
  color: #651ab5;
  cursor: pointer;

  &:hover {
    color: #651ab5;
    cursor: pointer;
  }
}

.connected-accounts-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 10px;
  border-top: 1px solid $primary-background;
}

.connected-accounts-list__row--highlight {
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 16px;
  width: calc(100% - 16px);
}

.connected-accounts-list__row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connected-accounts-options__button {
  background: inherit;
}

.tippy-tooltip.none-theme {
  background: none;
  padding: 0;
}

.connected-accounts-list-item__menu {
  margin: 10px 0 !important;

  .disconnect-icon {
    display:inline-block;
    width: 12px;
    height: 12px;
    background: url('/images/icons/disconnect.png') no-repeat center;
    background-size: 100%;
    margin: 0 8px 0 0;
  }
}