@import "transaction-breakdown-row/index";


.transaction-breakdown {
  .transaction-breakdown__title {
    padding-bottom: 8px;
    text-transform: capitalize;
    font-size: 14px;
    color: $white;
  }
  
  .transaction-breakdown__row-title {
    text-transform: capitalize;
  }
  
  .transaction-breakdown__value {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .transaction-breakdown__value--eth-total {
    font-weight: 500;
  }
}