.confirmation-footer {
  .confirmation-footer__actions {
    display: flex;
    padding: 16px 0;
  }

  .warning {
    width: 260px;
    margin: 0 auto 8px;
    padding: 0 0 0 30px;
    background: url('/images/icons/warning.png') no-repeat left top;
    background-size: 16px 14px;
    color: $pink;
    font-size: $size-12;
  }
}
