.confirm-remove-account {
  .confirm-remove-account__description {
    text-align: center;
    font-size: $size-12;
    color: $gray;
  }
  
  .confirm-remove-account__account {
    border: 1px solid $primary-border;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    margin: 10px 0 20px;
    width: 100%;
  }
  
  .confirm-remove-account__account__identicon, .confirm-remove-account__account__name, .confirm-remove-account__account__address {
    margin: 0 $size-12 0 0;
  }
  
  .confirm-remove-account__account__label {
    display: block;
    color: $gray;
    font-size: 10px;
  }

  .account_value {
    font-size: $size-12;
    padding: 6px 0 0;
  }
  
  .confirm-remove-account__account__link {
    .view-in-explore {
      display: block;
      width: 13px;
      height: 13px;
      background: url('/images/icons/view-in-broswer.png') no-repeat center;
      background-size: 100%;
    }
  }
}