.confirm-remove-account {
  .confirm-remove-account__description {
    font-size: $size-12;
    color: $white;
  }

  .confirm-remove-account__account {
    border-top: 1px solid $primary-border;
    border-bottom: 1px solid $primary-border;
    padding: 10px;
    display: flex;
    margin: 10px 0 20px;
    width: 100%;
  }

  .confirm-remove-account__account__identicon,
  .confirm-remove-account__account__name,
  .confirm-remove-account__account__address {
    margin: 0 $size-12 0 0;
  }

  .confirm-remove-account__account__label {
    display: block;
    color: $white;
    font-size: 10px;
  }

  .account_value {
    font-size: $size-12;
    padding: 6px 0 0;
    word-break: break-all;
    max-width: 95px;
    display: inline-block;
  }

  .confirm-remove-account__account__link {
    .view-in-explore {
      display: block;
      width: 16px;
      height: 16px;
      background: url('/images/icons/view-in-broswer.png') no-repeat center;
      background-size: 100%;
    }
  }
}
