@import 'modal-content/index';

.modal-container {
  @include modal;
  @include modal-size;
  display: flex;
  flex-flow: column;
  color: $white;

  &__content {
    overflow-y: auto;
    flex: 1;
    padding: 16px;
  }

  &__header {
    display: flex;
    padding: 20px 12px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
  }

  &__header-close {
    width: 10px;
    height: 10px;
    background: url('/images/icons/close.png') no-repeat center;
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    margin: -6px 0 0;
  }

  &__footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    // border-top: 1px solid #a69e9e;
    padding: 4vw;
    flex: 0 0 auto;

    &-button {
      min-width: 0;
      margin-right: 16px;

      &:last-of-type {
        color: #fff;
        background: url(/images/dex/button/primary.png) no-repeat center;
        background-size: 100% 100%;
        margin-right: 0;
        border: none;
        &:hover {
          border-color: #0372c3;
          background-color: #0372c3;
        }
      }
    }
  }
}
