.selector-component {
  width: 100%;
  height: $size-48;
  border-radius: $size-12;
  border: 1px solid $primary-border;
  transition: all 0.2s;
  position: relative;

  .current-label {
    padding: 0 0 0 18px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $size-14;
    background: $primary-background;
    color: $white;
  }

  &:after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    background: url('/images/icons/arrow-down.png') no-repeat center;
    background-size: 100%;
    transform-origin: center;
    transition: all 0.2s;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }

  .options-mask {
    @include w-h(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88;
  }
  .selector-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(#{$size-48} + 10px);
    background: $popup-background;
    border-radius: $size-12;
    max-height: 300px;
    overflow: scroll;
    z-index: 999;

    .select-option {
      padding: 0 0 0 18px;
      height: $size-48;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff;
    }
    .select-option-active-color {
      color: $pink;
    }
  }

  &.small {
    height: $size-36;
    .selector-menu {
      top: $size-36;
      .select-option {
        height: $size-36;
      }
    }
  }

  &.menu-opened {
    &:after {
      transform: rotate(-180deg);
    }
    box-shadow: 0 0 10px $pink;
  }
}
