.end-of-flow {
  padding: 20px 0 0;

  .logo-component {
    margin: 0 auto;
  }

  &__success-icon {
    width: 236px;
    height: 236px;
    background: url('/images/background/end-of-init.png') no-repeat center;
    background-size: 100% 100%;
    margin: 40px auto 32px;
  }

  &__success-text {
    color: $white;
    font-size: $size-12;
    text-align: center;
  }

  &__button {
    margin: 25px auto 14px !important;
    height: 48px;
    font-size: 14px;
  }
}
