.account-menu {
  position: fixed;
  z-index: 100;
  top: 70px;
  right: 20px;
  width: 220px;
  border-radius: $size-12;
  background: $popup-background-opacity;
  backdrop-filter: blur(3px);
  color: $white;
  overflow: hidden;
  padding: 20px 18px;

  &__close-area {
    @include modal-background;
  }

  .account-menu__header {
    font-size: 16px;
    color: $white;
    font-weight: bold;

    .account-menu__lock-button {
      font-size: 10px;
      padding: 5px 17px;
      color: $white;
      border: 1px solid $primary-border;
      background: transparent;
      border-radius: $size-12;
    }
  }

  .account-menu__accounts-container {
    margin: 20px 0;
    max-height: 240px;
    overflow-y: auto;

    .account-menu__account {
      width: 184px;
      height: 56px;
      padding: 0 18px;
      border-radius: $size-12;
      background: $primary-background;
      margin: 0 0 10px;
      cursor: pointer;
      transition: all 0.2s;

      &.selected {
        background: $primary-gradient-hover;
      }

      &:hover {
        background: $primary-gradient-hover;
      }

      &:last-of-type {
        margin: 0;
      }

      .account-avatar {
        margin: 0 8px 0 0;
      }

      .account-menu__name {
        font-size: $size-12;
        font-weight: bold;
        color: $white;
      }

      .account-menu__balance {
        padding: 5px 0 0;
        .currency-display-component__text,
        .currency-display-component__suffix {
          font-size: 10px;
          color: $white;
        }
      }
    }
  }

  .account-menu__btn {
    margin: 0 0 20px;
    cursor: pointer;

    .icon {
      margin: 0 10px 0 0;
    }

    .account-menu__item-create-icon {
      width: 14px;
      height: 14px;
      background: url('/images/account-menu/create-account.png') no-repeat center;
      background-size: 100%;
    }

    .account-menu__item-import-icon {
      width: 11px;
      height: 14px;
      background: url('/images/account-menu/import-account.png') no-repeat center;
      background-size: 100%;
    }

    .account-menu__item-settings-icon {
      width: 14px;
      height: 14px;
      background: url('/images/account-menu/settings.png') no-repeat center;
      background-size: 100%;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
