.dex-text-field {
  width: 100%;

  .dex-text-field-label {
    font-weight: bold;
    font-size: $size-12;
    line-height: $size-14;
    color: $white;
  }

  .dex-text-field-input {
    display: block;
    width: 100%;
    height: $size-48;
    padding: 0 18px;
    margin: $size-8 0;
    background: $primary-background;
    border-radius: $size-12;
    outline: none;
    font-size: $size-14;
    color: $white;
    transition: all 0.3s;

    &.bordered {
      border: 0.5pt solid $primary-border;
    }

    &:focus {
      box-shadow: 0 0 10px $pink;
    }
  }

  .input-error {
    font-size: $size-12;
    color: $warning;
    margin: 0 0 10px;
  }
}
