.confirm-delete-network {
  &__mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  &__modal {
    .modal-container__footer {
      border: none !important;
    }

    .modal-content {
      &__title {
        color: #fff;
      }

      &__description {
        color: #fff;
      }
    }
  }
}
