.reveal-seed-phrase {
  .logo-component {
    margin: 0 auto;
  }

  .first-time-flow__header {
    margin: 40px 0;
  }

  .first-time-flow__account-password {
    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: $white;
    }

    .sub-title {
      font-size: $size-12;
      line-height: 16px;
      text-align: center;
      color: $white;
    }
  }

  .first-time-flow__form {
    margin: 36px auto 0;
    width: 256px;
    display: flex;
    justify-content: space-between;

    .reveal-seed-phrase__word-column {
      width: 120px;

      .word-item {
        display: flex;
        align-items: center;
        width: 120px;
        height: 28px;
        border-radius: $size-12;
        background: $primary-background;
        margin: 0 0 10px;
        padding: 0 $size-12;
        font-size: $size-12;
        color: $white;

        .word-text {
          padding: 0 0 0 6px;
        }
      }
    }
  }

  .first-time-flow__account-password-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
