.token-list-placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 22px;
  width: 230px;
  padding: 50px 0;
  margin: 0 auto;
  background: url('/images/background/search.png') no-repeat center;
  background-size: 68px;

  .token-list-placeholder__text {
    font-size: 14px;
    color: $gray;
    line-height: 1.4em;
    text-align: center;
  }
}
