.transaction-activity-log {
  .transaction-activity-log__title {
    border-bottom: 1px solid #10121d;
    padding-bottom: 8px;
    text-transform: capitalize;
  }
  
  .transaction-activity-log__activities-container {
    padding-top: 8px;
  }
  
  .transaction-activity-log__activity {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 40px;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 36px;
      height: 100%;
      width: 13px;
      border-right: 1px dashed #4b5165;
      z-index: 0;
    }
  
    &:first-child {
      margin-top: 15px;
    }
  
    &:last-child::after {
      height: 0;
    }
  
    &:first-child:last-child::after {
      display: none;
    }
  }
  
  .transaction-activity-log__activity-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    z-index: 1;
  }
  
  .transaction-activity-log__activity-text {
    cursor: pointer;
    font-size: 10px;

    .node-time {
      color: $gray;
      padding: 0 0 6px;
    }

    .node-activity {
      color: $white;
    }
  }
  
  .transaction-activity-log__value {
    display: inline;
    font-weight: 500;
  }
  
  .transaction-activity-log__entry-container {
    min-width: 0;
  }
  
  .transaction-activity-log__action-link {
    cursor: pointer;
  }
  
  .transaction-activity-log b {
    font-weight: 500;
  }
}