.transaction-list {
  .transaction-list__completed-transactions {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .transaction-list__header {
    flex: 0 0 auto;
    padding: 8px 0 8px 20px;
  }

  .transaction-list__transactions {
    flex: 1;
  }

  .transaction-list__pending-transactions {
    margin-bottom: 16px;
  }

  .transaction-list__empty {
    flex: 1;
    display: grid;
    grid-template-rows: auto;
    padding-top: 24px;
  }

  .transaction-list__empty-text {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
  }

  .transaction-list__view-more {
    margin: 16px auto;
    max-width: 200px;
  }
}
