.export-private-key-modal {
  color: $white;

  .readonly-input__input {
    background: transparent;
    color: $white;
    padding: 4px;
    border: none;
  }
  
  .export-private-key-modal__account-name {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
  }

  .account-detail-address {
    font-size: $size-12;
    color: $white;
    width: 195px;
    word-wrap: break-word;
    margin: 10px auto 24px;
    text-align: center;
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url('/images/icons/copy.png') no-repeat center;
      background-size: 100%;
      margin: 0 0 0 6px;
    } 
  }

  .export-private-key-modal__body-title {
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }

  .export-private-key-modal__password-display-textarea {
    border: none;
    height: 75px;
    width: 100%;
    overflow: hidden;
    resize: none;
    padding: 9px 13px 8px;
  }

  .export-private-key-modal__password {
    width: 100%;
    margin: 24px 0 5px;
  }
  
  .export-private-key-modal__buttons {
    width: 100%;

    .dex-button {
      margin: 10px 0 0;
    }
  }

  .export-private-key-modal__password--warning {
    font-size: 10px;
    letter-spacing: -0.5px;
    color: $warning;
  }
  
  .export-private-key-modal__button--cancel {
    margin-right: 15px;
  }

  .private-key-display {
    .header {
      font-size: $size-12;
      color: $white;
      font-weight: bold;

      .copy-icon {
        display: block;
        width: 12px;
        height: 12px;
        background: url('/images/icons/copy.png') no-repeat center;
        background-size: 100%;
      }
    }

    .private-key {
      padding: 18px 15px;
      border-radius: $size-12;
      border: 1px solid $primary-border;
      background: $primary-background;
      word-wrap: break-word;
      word-break: break-all;
      font-size: $size-12;
      color: $gray;
      margin: 15px 0 10px;
    }
  }
}