.top-header {
  &__position {
    width: 100vw;
    height: 115px;
  }

  &__wrapper-container {
    width: 100vw;
    height: 115px;
    padding: 15px 0 0;
    background: url('/images/dex/background/top.png') no-repeat -1px -1px,
      #141827;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 40;
  }

  &__wrapper {
    width: 100%;
    height: 97px;
    border-radius: 23px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 0 0 0 16px;
  }

  &__logo {
    flex: 1;
    text-align: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding: 0 16px 0 0;
    &-content {
      font-size: 14px;
      font-weight: bold;
      color: #8b99a6;
    }
  }

  &__right-account-menu {
    width: 20px;
    height: 20px;
    background: url('/images/dex/button/account-menu.png') no-repeat center;
    background-size: 100%;
  }

  &__left-close-icon {
    width: 16px;
    height: 16px;
    background: url('/images/dex/button/close.png') no-repeat center;
    background-size: 16px 16px;
    cursor: pointer;
  }

  &__left-arrow-icon {
    width: 20px;
    height: 14px;
    background: url('/images/dex/button/arrow-left.png') no-repeat center;
    background-size: 20px 14px;
    cursor: pointer;
  }
}
