.typography.gas-timing {
  color: rgba(246, 246, 246, 0.6) !important;

  &--positive {
    color: $success-3;
  }

  &--warning {
    color: $alert-3;
  }

  &--negative {
    color: $error-1;
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: $error-1;
    }
  }
}
