.connected-status-indicator {
  display: flex;
  align-items: center;
  place-self: center start;
  background: none;
  font-size: inherit;
  padding: 8px 10px;
  border-radius: 16px;
  background: rgba(78, 78, 78, 0.26);
  border-radius: 16px;
  border: 1px solid rgba(151, 151, 151, 0.15);

  &__text {
    @include H8;

    font-size: 12px;
    color: #fff;
    white-space: nowrap;
  }
}
