.connected-status-indicator {
  padding: 6px 12px;
  border-radius: $size-12;
  background: $primary-background;

  .connected-status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $green;
    margin: 0 6px 0 0;

    &.not-connected {
      background: $warning;
    }
  }

  .connected-status-indicator__text {
    font-size: 10px;
    color: $white;
    white-space: nowrap;
  }
}
