.assets-list-wrapper {
  .title {
    width: 92vw;
    font-size: 12px;
    color: rgba($color: #fff, $alpha: 0.2);
    margin: 10px auto -4px;
    font-weight: bold;
  }

  .asset-list-item {
    width: 92vw;
    border-radius: 4px;
    margin: 8px auto;
    font-size: 16px;
    color: #585a64;
    background: #090b13;
    background-size: 40px 40px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    padding: 10px 8px;
    min-height: auto;

    &__token-button {
      font-size: 16px;
      font-weight: normal;
      color: #ffffff;
      line-height: 20px;
    }

    &:hover {
      background: linear-gradient(
        58deg,
        #7813c4 0%,
        #691bb5 17%,
        #3b11b8 79%,
        #2206a0 100%
      );
    }

    &:focus-within {
      background: linear-gradient(
        58deg,
        #7813c4 0%,
        #691bb5 17%,
        #3b11b8 79%,
        #2206a0 100%
      );
    }
  }
}
