.account-modal {
  .account-modal__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 35px 24px 40px;
    @include modal;
    @include modal-size;
  }
  .account-modal-avatar-container {
    width: 64px;
    height: 64px;
    background: url('/images/background/avatar-border.png') no-repeat center;
    background-size: 100%;
    @include flex;
  }
  .account-modal__back {
    position: absolute;
    top: 13px;
    left: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .account-modal__back-text {
    padding-left: 3px;
  }
  .account-modal__close {
    font-size: 25px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 12px;
  }
  .account-modal__close::after {
    content: '\00D7';
  }
  .account-modal .qr-code {
    margin: 15px 0 0;
  }
  .account-modal .identicon {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -32px;
    margin-bottom: -32px;
  }
}
