.transaction-list-item__wrapper {
  background: $primary-background;
  border-radius: $size-12;
  height: 66px;
  padding: 15px;

  .transaction-list-item {
    @include flex(space-between);

    .left-info-icon {
      @include flex(space-between);

      .call-method-status {
        margin: 0 0 0 $size-12;

        .method-name {
          font-size: 14px;
          color: $white;
          font-weight: 500;

          &:after {
            content: '';
            display: inline-block;
            margin: 0 0 0 8px;
            width: 12px;
            height: 12px;
          }

          &.confirmed {
            &:after {
              background: url('/images/transaction/status/success.png')
                no-repeat center;
              background-size: 100%;
            }
          }

          &.canceled {
            &:after {
              background: url('/images/transaction/status/fail.png') no-repeat
                center;
              background-size: 100%;
            }
          }

          &.pending {
            &:after {
              background: url('/images/transaction/status/pending.png')
                no-repeat center;
              background-size: 100%;
            }
          }
        }

        .status {
          font-size: 10px;
          color: $gray;
          margin: 5px 0 0;
        }
      }
    }

    .right-status {
      .primary-currency {
        font-size: 14px;
        color: $white;
        font-weight: 500;
        text-align: right;
      }

      .secondary-currency {
        font-size: 10px;
        color: $gray;
        margin: 5px 0 0;
        text-align: right;
      }
    }
  }
}
