.transaction-list-item__wrapper {
  background: $primary-background;
  border-radius: $size-12;
  height: 66px;
  padding: 15px;
  margin: 10px 0 0;

  .transaction-list-item {
    @include flex(space-between);

    .transaction-info {
      flex: 1;
      height: 35px;
      padding: 0 0 0 $size-12;
      @include flex(space-between, flex-start, column);

      .left-info {
        width: 100%;
        @include flex(space-between);

        .method-name {
          font-size: 14px;
          color: $white;
          font-weight: 500;

          &:after {
            content: '';
            display: inline-block;
            margin: 0 0 0 8px;
            width: 12px;
            height: 12px;
          }

          &.canceled {
            &:after {
              background: url('/images/transaction/status/fail.png') no-repeat
                center;
              background-size: 100%;
            }
          }

          &.pending {
            &:after {
              background: url('/images/transaction/status/pending.png')
                no-repeat center;
              background-size: 100%;
            }
          }

          &.confirmed {
            &:after {
              background: url('/images/transaction/status/success.png')
                no-repeat center;
              background-size: 100%;
            }
          }
        }

        .primary-currency {
          font-size: 14px;
          color: $white;
          font-weight: 500;
          text-align: right;
        }
      }

      .right-status {
        width: 100%;
        @include flex(space-between);

        .status {
          font-size: 10px;
          color: $gray;
        }

        .secondary-currency {
          font-size: 10px;
          color: $gray;
          text-align: right;
        }
      }
    }
  }
}
