.permissions-connect-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .permissions-connect-footer__text {
    color: $pink;
    display: flex;
    font-size: 10px;
    margin-top: 10px;
  }
  
  .permissions-connect-footer__text--link {
    margin-left: 4px;
    cursor: pointer;
  }
}