.network-droppo {
  &__wrapper {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    width: 100vw !important;
    z-index: 10000 !important;
    background: rgba(0, 0, 0, 0.6) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-droppo {
      max-height: 80vh;
      padding: 20px !important;
      background: rgba(#141827, 0.9) !important;
    }

    .network-dropdown-header {
      width: 100% !important;
      .network-dropdown-title {
        width: 100% !important;
        text-align: left !important;
        margin: 0 0 15px 0;
        font-size: 18px !important;
        font-weight: 500;
        color: #f4f4f4 !important;
      }

      .network-dropdown-content {
        width: 100% !important;
        text-align: left !important;
        font-size: 14px;
      }

      .network-dropdown-divider {
        display: none;
      }
    }

    .dropdown-menu-item {
      .color-indicator {
        margin: 0 10px;
      }
      .network-name-item {
        font-size: 18px;
        font-weight: 400;
      }
      .network-check__transparent,
      .fa {
        display: none !important;
      }
    }
  }

  &__menu {
    margin: 0 !important;
    padding: 0 !important;
    width: 200px;
    max-height: 400px;
    overflow-y: auto;

    .menu-item {
      display: block;
      padding: 0 0 5px 0;

      span {
        display: flex;
        align-items: center;
        padding: 7px;
        margin: 7px 7px 0;
        cursor: pointer;
        border-radius: 8px;

        .network__chain-icon {
          width: 26px;
          height: 26px;
          background: url('/images/dex/settings/chain-icon.png') no-repeat
            center;
          background-size: cover;
          border-radius: 50%;
          margin: 0 10px 0 0;

          &.custom {
            width: 22px;
            height: 22px;
            margin: 0 12px 0 2px !important;
            background: url('/images/dex/button/custom-rpc.png') no-repeat
              center;
            background-size: 100%;
          }
        }

        .chain-name {
          width: calc(100% - 36px);
          font-size: 14px;
          font-weight: 400;
          word-break: break-word;
        }

        .chain-checked-name {
          width: calc(100% - 36px - 22px);
        }

        .chain-checked {
          width: 12px;
          height: 12px;
          display: flex;
          margin-left: 10px;
          justify-content: center;
          align-items: center;
          background: #232631
            linear-gradient(
              58deg,
              #7813c4 0%,
              #691bb5 17%,
              #3b11b8 79%,
              #2206a0 100%
            );
          border-radius: 50%;
        }
      }

      &.active {
        span {
          .chain-name {
            background: linear-gradient(
              58deg,
              #7813c4 0%,
              #691bb5 17%,
              #3b11b8 79%,
              #2206a0 100%
            );
            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }
    }

    .network-divder {
      width: 90%;
      margin: 0 auto;
      border-bottom: 1px solid #2c3146;
    }
  }
}
