@import 'confirm-page-container-warning/index';
@import 'confirm-page-container-summary/index';

.confirm-page-container-content {
  .typography--weight-bold {
    font-weight: normal;
  }

  .typography--h6 {
    color: #78797b;
    margin: 0;
  }

  &__error-container {
    padding: 0 4vw 16px;
  }

  &__details {
    width: 90vw;
    margin: auto;
    box-sizing: border-box;
  }

  &__data {
    padding: 16px 4vw;
    color: $oslo-gray;
  }

  &__data-box {
    @include H7;

    background-color: #f9fafa;
    padding: 12px;
    margin-bottom: 16px;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;

    &-label {
      @include H7;

      text-transform: uppercase;
      padding: 8px 0 12px;
    }
  }

  &__data-field {
    display: flex;
    flex-direction: row;

    &-label {
      font-weight: 500;
      padding-right: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__gas-fee {
    border-bottom: 1px solid $geyser;

    .advanced-gas-inputs__gas-edit-rows {
      margin-bottom: 16px;
    }
  }

  &__function-type {
    @include H6;

    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    padding-left: 5px;
  }

  &__tab {
    @include H7;

    color: #8c8e94;
    text-transform: uppercase;
    margin: 0 8px;

    & button {
      font-size: unset;
      color: #8c8e94;
      text-transform: uppercase;
    }

    &.tab--active {
      & button {
        color: #fff !important;
      }
    }
  }

  .page-container__footer {
    margin-top: auto;
  }

  &__currency-container {
    @include flex(flex-end);
    font-size: 12px;
    color: $gray;
    position: relative;
    .currency-display-component {
      max-width: 140px;
    }
  }
  .max-fee-amount-wrap {
    max-width: calc(90vw - 53px);
  }
}

.transaction-detail-item .transaction-detail-item__row {
  &:first-child {
    .currency-display-component__text,
    .currency-display-component__suffix {
      color: #fff;
    }
  }
  .currency-display-component__text,
  .currency-display-component__suffix {
    font-size: 12px;
    color: $gray;
  }
  .currency-display-component {
    @include text-ellipsis;
    display: flex !important;
    justify-content: flex-end;
    text-align: right;
    .currency-display-component__text {
      @include text-ellipsis;
      display: block;
      flex: 1;
    }
  }
}
