.restore-vault-wrap {
  color: #fff;
  margin-top: 40px;
  .restore-vault-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
  .restore-vault-subtitle {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 8px 0 22px;
  }
}

.reveal-seed-warning-wrap {
  width: 100%;
  padding: 16px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: $warning;
  border-radius: 12px;
  img {
    margin-bottom: 10px;
  }
}

.reveal-seed-error-tip {
  color: $warning;
  font-size: 12px;
}
