.reveal-seed-warning-wrap {
  width: 100%;
  padding: 16px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: $warning;
  border-radius: 12px;
  img {
    margin-bottom: 10px;
  }
}

.reveal-seed-error-tip {
  color: $warning;
  font-size: 12px;
}
