.trade-page {
  .swap-background {
    width: 240px;
    height: 240px;
    background: url('/images/background/swap.png') no-repeat center;
    background-size: 100%;
    margin: 5px auto 40px;
  }

  .swap-welcome {
    font-size: 28px;
    color: $white;
    font-weight: bold;
    text-align: center;
  }

  .swap-description {
    font-size: $size-12;
    color: $white;
    text-align: center;
    padding: 0 20px;
    margin: 20px 0;
  }
}
