@import 'connect-hardware/index';
@import 'import-account/index';

.new-account {
  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $geyser;
  }

  &__title {
    color: $tundora;
    font-weight: 500;
    margin-top: 22px;
    margin-left: 29px;
  }

  &__tabs {
    margin-left: 22px;
    display: flex;
    margin-top: 10px;

    &__tab {
      height: 54px;
      padding: 15px 10px;
      color: $dusty-gray;
      text-align: center;
      cursor: pointer;
    }

    &__tab:hover {
      color: $black;
      border-bottom: none;
    }

    &__selected {
      color: $primary-blue;
      border-bottom: 3px solid $primary-blue;
      cursor: initial;
      pointer-events: none;
    }
  }

}
