@import "token-list/index";

.add-token-page {
  .add-token__custom-token-form {
    .add-token__custom-symbol__label-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    
    .add-token__custom-symbol__label {
      flex: 0 0 auto;
      font-weight: bold;
      font-size: $size-12;
      line-height: 14px;
      color: $white;
    }
    
    .add-token__custom-symbol__edit {
      width: 12px;
      height: 12px;
      background: url('/images/button/pen.png') no-repeat center;
      background-size: 100%;
      cursor: pointer;
    }

    .dex-text-field {
      margin: 0 0 15px;
      &:last-of-type {
        margin: 0;
      }
    }

    .custom-decimals-warning {
      background: $warning;
      padding: $size-12;
      border-radius: $size-12;

      .title {
        font-size: 14px;
        font-weight: bold;
        color: $white;
        text-align: center;
      }

      .description {
        font-size: 12px;
        color: $white;
        margin: 3px 0 0;

        .add-token__link {
          color: $white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

  .search-token-input {
    padding: 0 0 0 40px;
    background-image: url('/images/background/search-light.png');
    background-position: 16px center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
  }
}