.page-title {
  &__wrapper {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 80px;
  }

  &__title {
    color: #383b46;
  }

  &__splitor {
    color: #383b46;
    font-size: 14px;
    padding: 0 5px;
  }

  &__subtitle {
    color: #ffffff;
  }
}
