@import 'token-list-placeholder/index';

.token-list {
  .token-list__title {
    font-size: $size-12;
    color: $white;
    margin: 10px 0;
  }

  .token-list__tokens-container {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
  }

  .token-list__token {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: $size-12;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    margin: 3px 0;
  }

  .token-list__token--selected {
    border: 1px solid $primary-border;
  }

  .token-list__token--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  .token-list__token-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 12px;
    flex: 0 0 auto;
    background-color: $white;
  }

  .token-list__token-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
  }

  .token-list__token-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $white;
    font-size: 14px;
  }
}
